header {
    height: 100vh;
    background-image: url("./img/expousjt-bg-topo.png");
    background-color: #f4f5fa;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: right top;
}
h6, p {
    color: #888;
}
h3, h2 {
    color: #353C86;
}
.header-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}
.about {
    background-image: url("./img/bg-scholarships.jpg");
    min-height: 400px;
    display: flex;
    align-items: center;
}
.wrapper {
    width: 80%;
    margin: 0 auto;
}

.post:hover {
    border-top: 5px solid #ff356f;
}
.eventos-wrapper {
    background-color: #fff;
}

.backPartners{
    background-color: bisque;
}

.footerUsjt{
    background-color: #A7BD00;
    color: white;
    font-weight: bold;
}

.styleIcons{
    font-size: 20px;
    color: #353C86;
    margin-left: 3px;
    margin-right: 3px;
}

.fontFooter{
    color: white;
    font-weight: 300;
}
@media only screen and (max-width: 600px) {
    header {
        background-size: 180%;
    }
    .header-wrapper {
        height: 80%;
        align-items: flex-end;
    }
}